- name: Install common tools
  become: true
  apt:
    name:
      - curl
      - git
      - git-lfs
      - htop
      - iputils-ping
      - jq
      - nano
      - net-tools
      - netcat-openbsd
      - nmap
      - p7zip-full
      - plocate
      - python3-pip
      - tar
      - tmux
      - tree
      - unzip
      - vim
      - wakeonlan
      - wget
      - zip
    update_cache: true
- name: Install firefox
  become: true
  snap:
    name: firefox
- name: Install psutil for dconf
  become: true
  apt:
    name: python3-psutil
    state: present
    update_cache: true
