# Currently, only the nvidia-driver-550 is being installed.
# You may need to update this to include additional packages or
# different versions as required.
# See: https://ubuntu.com/server/docs/nvidia-drivers-installation
- name: Install nvidia driver
  # Ref: https://ubuntu.com/server/docs/nvidia-drivers-installation
  become: true
  apt:
    name:
      - nvidia-driver-580
    update_cache: true
  register: install_nvidia_driver
- name: Require reboot
  become: true
  copy:
    content: ""
    dest: /var/run/reboot-required
    force: false
    owner: root
    group: root
    mode: '0644'
  when: install_nvidia_driver.changed
