# Since x11vnc connects directly to the physical display, a monitor or
# dummy dongle must be connected at boot time. The `gdm-auto-login.yaml`
# task should also be included.
# Ref: https://wiki.archlinux.org/title/X11vnc
# Ref: https://help.ubuntu.com/community/VNC/Servers#x11vnc
- name: Disable Wayland (x11vnc requires X11)
  become: true
  lineinfile:
    path: /etc/gdm3/custom.conf
    regexp: '^#.*WaylandEnable.*=.*$'
    line: 'WaylandEnable=false'
  register: disable_wayland
- name: Install x11vnc
  become: true
  apt:
    name:
      - x11vnc
    update_cache: true
- name: Create autostart directory
  file:
    path: ~/.config/autostart
    state: directory
    mode: '0755'
- name: Create x11vnc.desktop for autostart (must use SSH tunneling)
  # Use autostart instead of systemd service to prevent display not found error (Potentially due to Wayland?)
  # Remove `-localhost` to allow remote connections.
  copy:
    dest: ~/.config/autostart/x11vnc.desktop
    content: |
      [Desktop Entry]
      Type=Application
      Name=X11 VNC server
      Exec=/usr/bin/x11vnc -auth guess -forever -loop -noxdamage -repeat -shared -xkb -find -localhost
      NoDisplay=true
    mode: '0644'
  register: x11vnc_desktop_autostart
- name: Require reboot
  become: true
  copy:
    content: ""
    dest: /var/run/reboot-required
    force: false
    owner: root
    group: root
    mode: '0644'
  when: disable_wayland.changed or x11vnc_desktop_autostart.changed
